@font-face {
  font-family: 'Gugi', cursive;
  src: url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);
}

body {
 font-family: 'Gugi', cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
